.footer
  position: relative
.map
  position: absolute
  left: 0
  top: 0
  width: 50%
  height: 650px
.contacts
  flex-basis: 50%
  padding-top: 70px
  padding-left: 210px
  &__title
    +bold
    font-size: 22px
    margin-bottom: 95px
    line-height: 33px
  &-block
    display: flex
    justify-content: flex-end
  &-list
    padding: 0
    list-style-type: none
    &__item
      display: flex
      align-items: flex-start
      margin-bottom: 35px
    &__text
      width: 150px
      font-size: 16px
      line-height: 26px
      margin-top: -5px
      &_bold
        +bold
    &__link
      +bold
      text-decoration: none
      color: black
    &__icon
      width: 20px
      height: 20px
      text-align: center
      line-height: 20px
      margin-right: 23px
@media (max-width: 1200px)
  .contacts
    padding-left: 30px

@media (max-width: 768px)
  .footer
    display: flex
    flex-direction: column-reverse
  .map
    position: static
    width: 100%
    margin-top: 20px
  .contacts
    flex-basis: 100%
    padding-top: 70px
    padding-left: 0
    &__title
       font-size: 18px
       line-height: 1.2
       margin-bottom: 39px
    &-list
      &__icon
        margin-right: 10px

