.footer
  position: relative
.map
  position: absolute
  left: 0
  top: 0
  width: 50%
  height: 650px
.contacts
  flex-basis: 50%
  padding-top: 70px
  padding-left: 212px
  &__title
    +bold
    font-size: 22px
    margin-bottom: 95px
    line-height: 33px
  &-block
    display: flex
    justify-content: flex-end
  &-list
    padding: 0
    list-style-type: none
    &__item
      display: flex
      align-items: flex-start
      margin-bottom: 34px
      &:nth-child(2)
        margin-bottom: 32px
    &__text
      width: 150px
      font-size: 16px
      line-height: 26px
      margin-top: -5px
      &_bold
        +bold
    &__link
      +bold
      text-decoration: none
      color: black
      &:hover
        color: $main-color
    &__icon
      width: 20px
      height: 20px
      text-align: center
      line-height: 20px
      margin-right: 20px
      &-3
        margin-top: 2px
        margin-right: 22px
@media (max-width: 1200px)
  .contacts
    padding-left: 30px
    &__title
      width: 300px
      font-size: 15px
      margin-bottom: 35px
    &-list
      &__item
        margin-bottom: 34px
        &:nth-child(2)
          margin-bottom: 32px
      &__text
        width: 150px
        font-size: 12px
        line-height: 20px


@media (max-width: 991px)
  .footer
    display: flex
    flex-direction: column-reverse
  .map
    position: static
    width: 100%
    margin-top: 20px
  .contacts
    flex-basis: 100%
    padding-top: 48px
    margin-left: 20px
    &-block
      padding-left: 20px
    &__title
      width: 277px
      font-size: 18px
      line-height: 1.2
      margin-bottom: 37px
    &-list
      &__item
        &:first-child
          margin-bottom: 34px
        &:nth-child(2)
          margin-bottom: 33px
      &__icon
        margin-right: 10px
      &__text
        font-size: 16px
        line-height: 26px

