.hero
  padding: 50px 0
  justify-content: space-between
  &-block
    display: flex
  &-text
    flex-basis: 40%
    padding-right: 130px
    &__title
      font-size: 41px
      font-weight: 700
      line-height: 55px
      margin-bottom: 40px
      letter-spacing: .9px
      +bold
    &__subtitle
      display: inline-block
      margin-bottom: 70px
      letter-spacing: 2.4px
      +bold
  &-list
    margin: 0
    padding: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 25px
    &__image
      width: 37px
      height: 37px
      border: 2px solid $main-color
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      margin-right: 30px
    &__text
      max-width: 250px
      font-size: 14px
      line-height: 24px
@media (max-width: 1200px)
  .hero
    &-block
      flex-direction: column
    &-list
      margin-bottom: 44px
    &-text
      padding-right: 10px 
@media (max-width: 768px)
  .hero
    &-text
      &__title
        font-size: 24px
        line-height: 1.4
        margin-bottom: 15px
      &__subtitle
        font-size: 16px
        margin-bottom: 28px
    &-list
      &__item
        margin-bottom: 20px
      &__text
        font-size: 12px
      &__image
        margin-right: 15px
@media (max-width: 320px)
  .hero
    padding-top: 32px
    &-text
      &__title 
        line-height: 30px
        margin-bottom: 7px
        letter-spacing: 1.2px
        +bold
        font-size: 23px
      &__subtitle
        width: 90%
        margin-left: 5px
        letter-spacing: 0.2px
        +bold
    &-list
      &__text
        max-width: 200px
        line-height: 18px


 
  

  

  
