*
  box-sizing: border-box
body
  +reg
img
  max-width: 100%
.container
  width: 1170px
  margin: auto
.button
  border-radius: 10px
  background-color: $main-color
  border: none
  padding: 17px 30px 17px 30px 
  +bold
  &-top
    bottom: 0;
    padding: 10px
    max-width: 20%
    cursor: pointer;
    display: none;
    position: fixed;
    left: 0
    &__image
      display: block
      margin: 0 auto
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
  &:active
    outline: none;
  &:focus 
    outline: none;
  
.section
  padding: 50px 0
  &-title
    font-size: 24px
    +bold
    text-align: center
  &-subtitle
    display: block
    font-size: 16px
input
  border: 1px solid $border-input
  padding: 22px 30px
  font-size: 15px
  border-radius: 10px
  &:focus
    outline: none
    border: 1px solid $main-color
.arrows
  &__left, &__right
    &:hover
      cursor: pointer
@media (max-width: 1200px ) //*если что-то пойдет не так, проверь здесь
  .container
    width: 760px
  

@media (max-width: 768px )
  .container
    max-width: 580px
    width: 80%
  .button
    &-top
      padding: 5px
      max-width: 9%
@media (max-width: 320px)
  .container
    max-width: 280px
    width: 85%
  .button
    border-radius: 5px
    &-top
      padding: 5px
      max-width: 9%
    
  .section
    padding: 30px 0
    &-title
      font-size: 18px
    &-subtitle
      font-size: 14px
  .input
    padding: 22px 23px
