*
  box-sizing: border-box
body
  +reg
img
  max-width: 100%
button
  outline: none
.body_hidden
  overflow: hidden
.container
  width: 1170px
  margin: auto
.button
  border-radius: 10px
  background-color: $main-color
  border: none
  padding: 17px 30px 17px 30px 
  +bold
  &-top
    bottom: 10px
    left: 10px
    cursor: pointer
    display: none
    position: fixed
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &__image
      display: block
      margin: 0 auto
      width: 50px
      &:active
        outline: none
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
  &:active
    outline: none;
  &:focus 
    outline: none;
  
.section
  padding: 50px 0
  &-title
    font-size: 30px
    line-height: 45px
    +bold
    text-align: center
    color: #000000
  &-subtitle
    display: block
    font-size: 16px
    color: #000000
    font-size: 20px
.form
  position: relative
  &__message
    position: absolute
    left: 0
    bottom: 0
    color: green
    +bold

input
  border: 1px solid $border-input
  padding: 22px 30px
  font-size: 15px
  border-radius: 10px
  &:focus
    outline: none
    border: 1px solid $main-color
.arrows
  &__left, &__right
    &:hover
      cursor: pointer
input.invalid
  border: 1px solid red
div
  &.invalid
    position: absolute
    width: 100%
    text-align: center
    +bold
    color: red
    bottom: 0
    text-align: center


@media (max-width: 1200px ) //*если что-то пойдет не так, проверь здесь
  .container
    width: 80%
    max-width: 760px
  div
    &.invalid
      font-size: 13px
  
@media (max-width: 991px )
  .button
    &:hover 
      background-color: $main-color
@media (max-width: 768px )
  .container
    max-width: 580px
    width: 80%
@media (max-width: 500px)
  .button
    &-top
      bottom: 0px
      left: 0px
      &__image
        width: 40px

@media (max-width: 320px)
  .container
    width: 280px
    margin: auto
  .section
    padding: 30px 0
    &-title
      font-size: 18px
    &-subtitle
      font-size: 14px
  .input
    padding: 22px 23px
 

