.proffer
  padding-bottom: 100px
  &__title
    padding: 87px 0 93px 0
    +reg
    text-align: center
    font-size: 32px
    line-height: 50px
    margin-bottom: 0
    color: #000000
    &-block
      background-color: $main-color
  &-wrapper
    display: flex
    justify-content: space-between
    padding-top: 100px
  &__item
    max-width: 370px
    position: relative
  &__text
    position: absolute
    left: 26px
    top: 6px
    max-width: 290px
    font-size: 16px
    line-height: 23px
    &_bold
      +bold
@media (max-width: 1200px)
  .proffer
    &__title
      font-size: 27px
      line-height: 42px
    &__item
      width: 32%
    &__text
      left: 10px
      top: 6px
      max-width: 95%
      font-size: 12.5px
      line-height: 1.1
@media (max-width: 992px)
  .proffer
    &__title
      padding: 70px 0 76px 0
      width: 257px
      margin: auto
      font-size: 18px
      line-height: 21px
    &-wrapper
      padding-top: 60px
      flex-direction: column
      align-items: center
    &__item
      width: 100%
      margin-bottom: 27px
    &__text
      left: 18px
      top: 4px
      width: 90%
      font-size: 14px
      line-height: 1.4
@media (max-width: 768px)
  .proffer
      &__text
        font-size: 12px
      &__item
        &:last-child
          margin-bottom: 0

