.step
  flex-basis: 20%
  text-align: center
  position: relative
  &:after
    content: ''
    width: 72px
    height: 25px
    position: absolute
    background: url('../img/steps/arrow.png') no-repeat center
    top: -10px
    right: -15%
  &:last-child
    &::after
      display: none
  &__image
    width: 100px
    height: 100px
    border: 3px solid $main-color
    display: flex
    justify-content: center
    align-items: center
    margin: auto
    margin-bottom: 28px
    border-radius: 50%
  &__text
    font-size: 14px
    max-width: 165px
    margin: auto
    line-height: 20px;
  &s
    padding-top: 75px
    &__title
      max-width: 670px
      margin: auto
      margin-bottom: 50px
    &__subtitle
      text-align: center
      margin-bottom: 68px
    &-block
      display: flex
@media ( max-width: 1200px)
  .step
    &:after
      top: -25px
      right: -25%
    &__text
      padding: 0 3px 0 3px
      font-size: 12px 
      line-height: 16px
    

@media ( max-width: 768px )
  .step
    margin-bottom: 30px
    &::after
      display: none
    &s
      padding-top: 22px
      &-block
        flex-direction: column
      &__title
        margin-bottom: 24px
        line-height: normal
      &__subtitle
        margin-bottom: 32px
    &__image
      margin-bottom: 20px
  